* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
}

.container {
  margin-top: 20px;
}

.infos {
  display: flex;
  flex-direction: column;
}

#title-exercise {
  margin-top: 20px;
}

.nav {
  background-color: #a4ffa9;
  display: flex;
  gap: 5em;
  align-items: center;
  padding-left: 30px !important;
}

.buttons {
  margin-bottom: 20px;
}

.btn {
  margin-top: 20px;
  margin-right: 10px;
}

#footer {
  flex-direction: column;
  gap: 10px;
  background-color: #a4ffa9;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons a {
  color: #000000;
}